# dependencies
node_modules/

# next build
.next/
out/

# local env files (keep only examples)
.env*
!.env.example
!.env.production.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
*.tsbuildinfo

# archives
*.tar.gz
